<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hackillinois.app2017">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".Login.SplashScreen"
            android:theme="@style/AppThemeAlternative">
        </activity>
        <activity
            android:name=".Login.LoginActivity"
            android:parentActivityName=".Login.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.hackillinois.app2017.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".HackerHelp.NewTicketActivity"
            android:label="New HelpQ Ticket"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".Settings.PrefsActivity"
            android:label="Settings" />
    </application>

</manifest>